<div class="container align-items-center px-lg-5 p-5" ng-controller="contentCtrl">
    <div id="list-button" class="list-group">
        <div class="btn-group dropright btn-block d-inline-block" ngbDropdown placement="right">
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle btn-block dropdown-menu-right"
                    ngbDropdownToggle
                    id="dataMiningMenu">Data mining
            </button>
            <div ngbDropdownMenu aria-labelledby="dataMiningMenu">
                <a class="dropdown-item" routerLink="/survey-question-controller">M.A.T</a>
                <a class="dropdown-item" href="#">X</a>
                <a class="dropdown-item" href="#">X</a>
            </div>
        </div>
        <div class="btn-group dropright btn-block" ngbDropdown placement="right">
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle btn-block dropdown-menu-right"
                    ngbDropdownToggle
                    id="trainingMenu">Training
            </button>
            <div aria-labelledby="trainingMenu" ngbDropdownMenu>
                <a class="dropdown-item" href="#">X</a>
                <a class="dropdown-item" href="#">X</a>
                <a class="dropdown-item" href="#">X</a>
            </div>
        </div>
        <div class="btn-group dropright btn-block" ngbDropdown placement="right">
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle btn-block dropdown-menu-right"
                    ngbDropdownToggle
                    id="sustainabilityMenu">Sustainability Risk
            </button>
            <div aria-labelledby="sustainabilityMenu" ngbDropdownMenu>
                <a class="dropdown-item" href="#">X</a>
                <a class="dropdown-item" href="#">X</a>
                <a class="dropdown-item" href="#">X</a>
            </div>
        </div>
        <div class="btn-group dropright btn-block" ngbDropdown placement="right">
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle btn-block dropdown-menu-right"
                    ngbDropdownToggle
                    id="CommunityMenu">Community of practise
            </button>
            <div aria-labelledby="CommunityMenu" ngbDropdownMenu>
                <a class="dropdown-item" href="#">X</a>
                <a class="dropdown-item" href="#">X</a>
                <a class="dropdown-item" href="#">X</a>
            </div>
        </div>
    </div>
</div>
