<ngx-spinner></ngx-spinner>
<div class="container" *ngIf="!showQuestionDetails">
    <div class="align-content-center">
        <div class="row">
            <h1>Question: {{surveyDetail?.description}}</h1>
        </div>
        <div class="row">
            <h4>Remaining percentage: {{remainingPercentage | percent}}</h4>
        </div>
    </div>
    <div class="card my-3" *ngFor="let issue of surveyDetail?.issues">
        <div class="card-body">
            <h5 class="card-title">{{issue.issue}}</h5>
            <div class="row my-2 form-row border border-primary p-3" *ngFor="let category of issue.categoryQuestion">
                <div class="col-12 col-sm-12 col-md-6">
                    <p class="card-text">{{category.title}}</p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-end">
                    <div class="form-check form-check-inline d-inline-block" *ngFor="let item of [].constructor(10); let i = index" (click)="clickedRatingCategory(category, i+1)">
                        <label class="form-check-label align-bottom d-block" >{{i+1}}</label>
                        <input class="form-check-input" type="radio" name="ratingLevel_{{category.id}}" id="{{category.id}}" autocomplete="off" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right my-5">
        <button type="submit" class="btn btn-primary" [disabled]="disableNextButton" (click)="nextToImportantSections()">Next</button>
    </div>
</div>
<div class="container" *ngIf="showQuestionDetails && !finished">
    <div class="align-content-center">
        <div class="row flex-center mt-3">
          <h1>{{surveyDetail?.description}}</h1>
        </div>
    </div>
    <div class="card my-3" *ngFor="let issue of surveyDetail?.issues">
        <div class="card-body">
            <h2 class="card-title">{{issue.issue}}</h2>
            <div class="my-3" *ngFor="let category of issue.categoryQuestion">
                <h4>{{category.title}}</h4>
                <h6 *ngIf="category.subtitle != ''">{{category.subtitle}}</h6>
                <div class="row my-3 border border-primary p-3" *ngFor="let question of category.questions; let index = index">
                    <div class="col-6">
                        <p class="card-text">{{index + 1}}. {{question.question}}</p>
                    </div>
                    <div class="col-6">
                      <div *ngIf="category.type == 'rating';else TextInput" class="flex-center">
                        <div class="form-check form-check-inline d-inline-block" *ngFor="let item of [].constructor(category.typeValue); let i = index" (click)="clickedRatingQuestion(question, i+1)">
                          <label class="form-check-label align-bottom d-block" >{{i+1}}</label>
                          <input class="form-check-input" type="radio" name="ratingLevel_{{question.id}}" id="{{question.id}}" autocomplete="off" >
                        </div>
                      </div>
                      <ng-template #TextInput>
                        <div class="flex-center">
                          <input type="text" name="ratingLevel_{{question.id}}" id="Text_{{question.id}}" (keyup)="clickedRatingQuestion(question, $event.target.value)">
                        </div>
                      </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right my-5">
        <button type="submit" class="btn btn-primary" [disabled]="disableSubmitButton" (click)="finishSurvey()">Finish</button>
    </div>
</div>
<div class="container" *ngIf="finished">
    <div class="text-center">
        <h1>Thank for your time</h1>
    </div>
</div>
