<div class="row mt-5">
    <div class="container" ng-controller="choosingClientCtrl">
        <div class="formBox">
            <form>
                <div class="form-group">
                    <label>Survey base: </label>
                    <mat-selection-list>
                        <mat-list-option *ngFor="let survey of surveys">{{survey.name}}</mat-list-option>
                    </mat-selection-list>

                </div>
                <div class="form-group">
                    <label>Stakeholder group: </label>
                    <mat-selection-list>
                        <mat-list-option *ngFor="let stakeholder of stakeholders">{{stakeholder.groupName}}</mat-list-option>
                    </mat-selection-list>
                </div>
                <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-primary" (click)="sendButtonClicked()">SEND
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
