<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-pen-fancy">
      <span> {{title}}</span></i>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col col-6 justify-content-center">
          <app-industry-edit></app-industry-edit>
        </div>
        <div class="col col-6 justify-content-center">
          <app-organisation-edit></app-organisation-edit>
        </div>
      </div>
    </div>
    <div class="container mt-3" #editSurveyForm>
    </div>
  </div>
</div>

