<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-pen-fancy"></i>
    Create a survey
  </div>
 <!-- <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
         aria-valuemax="100">25%
    </div>
  </div>-->
  <div class="card-body">
    <div class="container">
      <form role="form" autocomplete="off">
        <app-section-form *ngIf="pageNum == 1" (finishFormSections)="receivedDataSections($event)"></app-section-form>
        <app-category-form *ngIf="pageNum > 1 && pageNum <= endPage" [data]="dataJson" ></app-category-form>
      </form>
    </div>
  </div>
</div>
