<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Pie chart
  </div>
  <div class="card-body flex-center">
    <div style="display: block; height: 400px" class="col-9 chart-container">
      <table class="table"></table>
      <thead>
      <tr>
        <th scope="col">Issue</th>
        <th *ngFor="let group of groups">{{group.name}}</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td></td>
      </tr>
      </tbody>
    </div>
  </div>
  <div class="card-footer small text-muted">Pie chart</div>
</div>

